.container 
  %h2= @property.address
  .row
    .col-md-6
      %h3
        CO
        %sub 2
        \/
        m
        %sup 2


    .col-md-6
      %h3
        CO
        %sub 2
        \/
        Occ
  .row
    .col-md-6
      %h3
        KWh / m
        %sup 2
    .col-md-6
      %h3
        KWh / Occ

  .row
    .col-md-6
      %h3
        &pound; / m
        %sup 2
    .col-md-6
      %h3
        &pound; / Occ

