#confirm-modal.modal.fade{ tabindex: -1, role: "dialog" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", :"data-dismiss" => "modal" } &times;
        %h4#confirm-modal-label.modal-title Unsaved Data!
      .modal-body
        %p
          You have unsaved data on the form.
        %p
          Please choose:
      .modal-footer
        %button.btn.btn-default{ type: "button", :"data-dismiss" => "modal"} Close
        %button.btn.btn-primary{ type: "button"} Save changes
