.panel.panel-default
  .panel-body
    %h4 View and edit building database
    %a{:href => manage_buildings_url, type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "manage buildings"} Enter

