= link_to explore_buildings_path do
  .panel.panel-default
    .panel-heading
      %h4 Explore energy consumption of individual buildings
    .panel-body
      %p
        View and report on building energy use
      %p
        Isolate large consumers within own building stock
      %p
        Confirm compliance with energy standards


