.panel.panel-default
  .panel-body
    %h4 Explore Group Energy Consumption
    %a{:href => new_building_group_url, type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "View group energy use. Pinpoint homes most in need of advice."} Coming soon
