.panel.panel-default
  .panel-body
    %h4 I want to find and connect with a local low carbon / sustainability group
    %a{:href => "#", type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Join a group of homeowners like you, interested in reducing energy use and costs. Remain up to date on funding opportunities for improvement. Understand your energy consumption in context"} Coming soon
