.panel.panel-default
  .panel-body
    %h4 I want to find retrofit providers and funding opportunities in my area
    %a{:href => new_building_group_url, type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Identify potential improvements and available funding"} Coming soon
