.panel.panel-default
  .panel-heading
    %h4 I want to find and connect with a local low carbon / sustainability group
  .panel-body
    %p
      Join a group of homeowners like you, interested in reducing energy use and costs
    %p
      Remain up to date on funding opportunities for improvement
    %p
      Understand your energy consumption in context

