.panel.panel-danger
  .panel-heading
    %h4 Manage Cobweb
    %a{:href => manage_community_groups_url, type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Access the admin area"} Enter

