.panel.panel-danger
  .panel-heading
    %h4 Manage Account
    %a{:href => "#", type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Edit account details"} Coming soon

