.panel.panel-default
  .panel-body
    %h4 I want to promote carbon reductions in homes, businesses or communities
    %a{:href => "#", type:"button", :class => "btn btn-primary", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Review and provide offers to householders, businesses and community groups.  Join local low carbon / sustainability groups and housing provider in order to work with them to promote efficiency and reduce emissions"} Coming soon


