.panel.panel-default
  .panel-heading
    %h4 I want to promote carbon reductions in homes, businesses or communities
  .panel-body
    %p
      Review and provide offers to householders, businesses and community groups.
    %p
      Join local low carbon / sustainability groups and housing provider
      in order to work with them to promote efficiency and reduce emissions


