%tr
  %td= member.name
  %td
    - if current_user.try(:has_role?, :owner, @project) && (current_user != member)
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", :"data-toggle" => "dropdown"} 
          %i.glyphicon.glyphicon-pencil
          = member.role_for @project
          %span.caret
        %ul.dropdown-menu{ role: "menu" }
          %li
            %a{ href: "#" } Member
          %li
            %a{ href: "#" } Admin
          %li.divider
          %li
            %a{ href: "#" }
              %i.glyphicon.glyphicon-trash
              Remove
    - else
      = member.role_for @project
