%tr
  %td= member.name
  %td= member.level
  %td
    %button.btn.btn-default.btn-sm
      %i.glyphicon.glyphicon-pencil
      Edit
    %button.btn.btn-danger.btn-sm
      %i.glyphicon.glyphicon-trash
      Remove

