<% if user_signed_in? %>
  <li><%= link_to 'My Groups', projects_path %>
  <%# admin section of the menu %>
  <% if current_user.has_role?(:admin) %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
